.container {
    position: relative;
    width: 400px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

.projectimage {
    opacity:1;
    display: block;
    width: 300px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .projectimage {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.imagelink {
    background-color: #BC8F8F;
    color: #000000;
    font-size: 16px;
    padding: 16px 32px;
    margin-bottom: 10px;
}

a {
    letter-spacing: 2px;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}


