*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    background-color:  #BC8F8F;
}

.nav-title {
    letter-spacing: 3px;
    color: #000000;
}

.nav-items{
    display: flex; 
    justify-content: space-around;
    width: 30%;
    color: #000000
}

.nav-items li {
    list-style: none;
    color: #000000;
}

.nav-items a {
    text-decoration: none;
    letter-spacing: 2px;
    color: #000000;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    margin: 5px;
    background-color: #000000;
}

@media screen and (max-width:1024px){
    .nav-items{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-items{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 9vh;
        width: 50%;
        background-color: #BC8F8F;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-items li {
        opacity: 0;
        color: #000000;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navItemsFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 7;
        transform: translateX(0px);

    }
}

.bio {
    font-family: 'Quicksand';
    letter-spacing: 3px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.bio-text {
    font-size: 14px;
}

.bio-heading {
    font-size: 25px;
}

.bio-sub-heading {
    font-size: 18px;
}

.bio-link {
    letter-spacing: 2px;
    color: #000000;
}

body {
    background-color: ivory;
}

.container {
    position: relative;
    width: 400px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
}
